/* === ボタンを表示するエリア ============================== */
.switchArea {
    line-height: 30px; /* 1行の高さ          */
    letter-spacing: 0; /* 文字間             */
    text-align: center; /* 文字位置は中央     */
    font-size: 12px; /* 文字サイズ         */

    position: relative; /* 親要素が基点       */
    margin-left: 70%; /* 中央寄せ           */
    width: 64px; /* ボタンの横幅       */
    background: #fff; /* デフォルト背景色   */
}

/* === チェックボックス ==================================== */
.switchArea input[type="checkbox"] {
    display: none; /* チェックボックス非表示 */
}

/* === チェックボックスのラベル（標準） ==================== */
.switchArea label {
    display: block; /* ボックス要素に変更 */
    box-sizing: border-box; /* 枠線を含んだサイズ */
    height: 30px; /* ボタンの高さ       */
    border: 2px solid #999999; /* 未選択タブのの枠線 */
    border-radius: 15px; /* 角丸               */
}

/* === チェックボックスのラベル（ONのとき） ================ */
.switchArea input[type="checkbox"]:checked + label {
    border-color: rgb( 245, 182, 145); /* 選択タブの枠線     */
}

/* === 表示する文字（標準） ================================ */
.switchArea label span:after {
    content: "OFF"; /* 表示する文字       */
    padding: 0 0 0 18px; /* 表示する位置       */
    color: #999999; /* 文字色             */
}

/* === 表示する文字（ONのとき） ============================ */
.switchArea input[type="checkbox"]:checked + label span:after {
    content: "ON"; /* 表示する文字       */
    padding: 0 18px 0 0; /* 表示する位置       */
    color: rgb( 245, 182, 145); /* 文字色             */
}

/* === 丸部分のSTYLE（標準） =============================== */
.switchArea #swImg {
    position: absolute; /* 親要素からの相対位置*/
    width: 22px; /* 丸の横幅           */
    height: 22px; /* 丸の高さ           */
    background: #999999; /* カーソルタブの背景 */
    top: 4px; /* 親要素からの位置   */
    left: 4px; /* 親要素からの位置   */
    border-radius: 11px; /* 角丸               */
    transition: .2s; /* 滑らか変化         */
}

/* === 丸部分のSTYLE（ONのとき） =========================== */
.switchArea input[type="checkbox"]:checked ~ #swImg {
    transform: translateX(34px); /* 丸も右へ移動       */
    background: rgb( 245, 182, 145); /* カーソルタブの背景 */
}
